Data TLB configuration
Number of sets: 2
Set size: 1

Page Table configuration
Number of virtual pages: 64
Number of physical pages: 4
Page size: 256

Data Cache configuration
Number of sets: 4
Set size: 1
Line size: 16
Write through/no write allocate: n

L2 Cache configuration
Number of sets: 16
Set size: 4
Line size: 16
Write through/no write allocate: n

Virtual addresses: y
TLB: n
L2 cache: y

