Data TLB configuration
Number of sets: 8
Set size: 2

Page Table configuration
Number of virtual pages: 128
Number of physical pages: 8
Page size: 256

Data Cache configuration
Number of sets: 4
Set size: 2
Line size: 8
Write through/no write allocate: y

L2 Cache configuration
Number of sets: 8
Set size: 4
Line size: 32
Write through/no write allocate: y

Virtual addresses: y
TLB: y
L2 cache: y